.button-mode{
    width: 2.25rem;
    height: 2.25rem;
    border: none;
    background-color: var(--color-grey-8);
    cursor: pointer;
}

.button-genres {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 4.6rem;
    background-color: var(--color-grey-8);
    color: var(--color-grey-2);
    font-size: var(--font-4);
    border-radius: var(--radius-1);
    padding: 0rem 2rem 0rem 2rem;
    cursor: pointer;
    border: 1px solid var(--color-grey-8);
}

.button-genres:hover {
    background-color: var(--color-grey-1);
    color: var(--color-grey-8);
}

.button-hiphop {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 4.563rem;
    background-color: var(--color-grey-8);
    color: var(--color-grey-2);
    font-size: var(--font-4);
    border-radius: var(--radius-1);
    padding: 0rem 0.5rem 0rem 0.5rem;
    cursor: pointer;
}

.button-hiphop:hover {
    background-color: var(--color-grey-1);
    color: var(--color-grey-8);
}

.button-buyAndPrice {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 4.688rem;
    background-color: var(--color-grey-8);
    color: var(--color-grey-2);
    border: 1px solid #F1F3F5;
    border-radius: var(--radius-1);
    font-family: "Inter", sans-serif;
    font-size: var(--font-3);
    cursor: pointer;
}